[submodule "readme"]
	path = readme
	url = git@github.com:HoughIO/readme.git
[submodule "slack-cli"]
	path = slack-cli
	url = git@github.com:rockymadden/slack-cli.git
[submodule "spinner"]
	path = spinner
	url = git@github.com:HoughIO/spinner.git
[submodule "emojify"]
	path = emojify
	url = git@github.com:mrowa44/emojify.git
[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/HoughIO/dotfiles.git
